OG Notebook: https://github.com/BlazingDB/Welcome_to_BlazingSQL_Notebooks/blob/master/webinars/air_transport/OnTimeFlightPerformance.ipynb
    
OG Blog: https://blog.blazingdb.com/the-impact-of-covid-19-on-air-travel-4ca5ad1e5caf

This Notebook can be run on [app.balzingsql.com](https://app.blazingsql.com)

# GPU-Accelerated Data Science: On-time flight performance during COVID

When the COVID-19 pandemic hit in 2019 a lot of industries were put on hold. During this time air travel was hit particularly hard. Has it had any impact on the ontime performance of airports and airlines? Let's find out!

Sources:
1. [Open Flights Data](https://openflights.org/data.html)
2. [Bureau of Transportation Statistics](https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time). We will look at period 1/1/2020 to 5/31/2020.

jupyter labextension install @jupyter-widgets/jupyterlab-manager## Imports
First, of course, let's import the tools that we need.

In [1]:
import cudf
import s3fs
import numpy as np
from collections import OrderedDict
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import cartopy.feature as cfeature

### `BlazingContext`
You must establish a `BlazingContext` to connect to a BlazingSQL instance to create tables, run queries, and basically do anything with BlazingSQL.

In [2]:
import blazingsql as bsql

bc = bsql.BlazingContext()

BlazingContext ready

In [3]:
from blazingsql import BlazingContext

bc = BlazingContext()

BlazingContext ready

^^ those are the same thing ^^

## Data reading and querying

There are two ways to load and query data using tools from the RAPIDS ecosystem: load directly into memory using `cudf` or `.create_table()` using `BlazingContext`.

### Flight data
Paths to files

In [4]:
flight_data_path = 's3://bsql/data/air_transport/flight_ontime_2020-0[1-5].parquet'
flight_data_path

's3://bsql/data/air_transport/flight_ontime_2020-0[1-5].parquet'

s3fs allows Linux and macOS to mount an S3 bucket via FUSE. s3fs preserves the native object format for files, allowing use of other tools like AWS CLI.

https://github.com/s3fs-fuse/s3fs-fuse

In [5]:
s3 = s3fs.S3FileSystem(anon=True)
s3

Glob makes the files 1-5 for you, the list comprehension adds the `s3://` (same thing as `https://` but for s3 storage buckets)

In [6]:
s3.glob(flight_data_path)

['bsql/data/air_transport/flight_ontime_2020-01.parquet',
 'bsql/data/air_transport/flight_ontime_2020-02.parquet',
 'bsql/data/air_transport/flight_ontime_2020-03.parquet',
 'bsql/data/air_transport/flight_ontime_2020-04.parquet',
 'bsql/data/air_transport/flight_ontime_2020-05.parquet']

In [7]:
files = [f's3://{f}' for f in s3.glob(flight_data_path)]
files

['s3://bsql/data/air_transport/flight_ontime_2020-01.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-02.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-03.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-04.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-05.parquet']

#### Read the data
We will use cuDF to read the data. (cuDF is pandas for GPU)

In [8]:
# %%time  
# # the reason this ^^ is here is because it's really fast
# flights = []

# # MemoryError: std::bad_alloc: CUDA error at: /opt/conda-environments/rapids-stable/include/rmm/mr/device/cuda_memory_resource.hpp:69: cudaErrorMemoryAllocation out of memory 
# files = files[:3]

# for f in files:
#     # add a dataframe of this file to the flights list
#     flights.append(cudf.read_parquet(f, storage_options={'anon': True}))
    
# # join all the dataframes together
# flights = cudf.concat(flights)

#### This works now because BlazingSQL doesn't hold everything in memory... while cuDF was trying to and was running out of memory

In [9]:
flight_data_path = 's3://bsql/data/air_transport/flight_ontime_2020-0[1-5].parquet'  # 's3://bsql/data/air_transport/flight_ontime_*.parquet'

s3 = s3fs.S3FileSystem(anon=True)

files = [f's3://{f}' for f in s3.glob(flight_data_path)]

In [10]:
files

['s3://bsql/data/air_transport/flight_ontime_2020-01.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-02.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-03.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-04.parquet',
 's3://bsql/data/air_transport/flight_ontime_2020-05.parquet']

In [11]:
bc = bsql.BlazingContext()

bc.s3('bsql', bucket_name = 'bsql')

bc.create_table('air_transport', files)

BlazingContext ready

In [12]:
print(f'Total number of flights in the dataset: {bc.sql("SELECT COUNT(*) FROM air_transport")}')

Total number of flights in the dataset:    count(*)
0   2508583

In [13]:
# bc.sql('select * from air_transport limit 5')

Note: to see all the columns https://stackoverflow.com/questions/47022070/display-all-dataframe-columns-in-a-jupyter-python-notebook/49841608

In [14]:
import pandas as pd
pd.options.display.max_columns = None

In [15]:
# bc.sql('select * from air_transport limit 5')  # kernel restarting b/c no GPU memory

Register a table with `BlazingContext`

In [16]:
# bc.create_table('flights', flights)

#### Columns and data types

In [17]:
bc.sql('select * from air_transport limit 0').columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'MKT_UNIQUE_CARRIER', 'MKT_CARRIER_FL_NUM', 'OP_UNIQUE_CARRIER',
       'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_STATE_ABR', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP',
       'ARR_TIME_BLK', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'DUP',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 54'],
      dtype='object')

In [18]:
bc.sql('select * from air_transport limit 0').dtypes

YEAR                       int64
QUARTER                    int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
MKT_UNIQUE_CARRIER        object
MKT_CARRIER_FL_NUM        object
OP_UNIQUE_CARRIER         object
TAIL_NUM                  object
OP_CARRIER_FL_NUM         object
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_STATE_ABR          object
ORIGIN_WAC                 int64
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_STATE_ABR            object
DEST_WAC                   int64
CRS_DEP_TIME              object
DEP_TIME                  object
DEP_DELAY                float64
DEP_DELAY_NEW            float64
DEP_DEL15                float64
DEP_DELAY_GROUP          float64
DEP_TIME_BLK              object
TAXI_OUT                 float64
WHEELS_OFF                object
WHEELS_ON                 object
TAXI_IN                  float64
CRS_ARR_TIME              object
ARR_TIME                  object
ARR_DELAY                float64
ARR_DELAY_NEW            float64
ARR_DEL15                float64
ARR_DELAY_GROUP          float64
ARR_TIME_BLK              object
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
DUP                       object
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
DISTANCE                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
Unnamed: 54                 int8
dtype: object

### Airlines and airports data
Paths to files

In [19]:
airports_path = 's3://bsql/data/air_transport/airports.csv'
airlines_path = 's3://bsql/data/air_transport/airlines.csv'

#### Read the data

In [20]:
airports_dtypes = OrderedDict([
      ('Airport ID', 'int64')
    , ('Name', 'str')
    , ('City', 'str')
    , ('Country', 'str')
    , ('IATA', 'str')
    , ('ICAO', 'str')
    , ('Latitude', 'float64')
    , ('Longitude', 'float64')
    , ('Altitude', 'int64')
    , ('Timezone', 'str')
    , ('DST', 'str')
    , ('Type', 'str')
    , ('Source', 'str')
])

airports = cudf.read_csv(
    airports_path
    , names=list(airports_dtypes.keys())
    , dtype=list(airports_dtypes.values())
    , storage_options={'anon': True}
)
airports.tail()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Type,Source
7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport
7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport
7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport

https://www.geeksforgeeks.org/ordereddict-in-python/

In [21]:
airlines_dtypes = OrderedDict([
    ('Airline ID', 'int64')
    , ('Name', 'str')
    , ('Alias', 'str')
    , ('IATA', 'str')
    , ('ICAO', 'str')
    , ('Callsign', 'str')
    , ('Country', 'str')
    , ('Active', 'str')
])
airlines_dtypes

OrderedDict([('Airline ID', 'int64'),
             ('Name', 'str'),
             ('Alias', 'str'),
             ('IATA', 'str'),
             ('ICAO', 'str'),
             ('Callsign', 'str'),
             ('Country', 'str'),
             ('Active', 'str')])

In [22]:
airlines = cudf.read_csv(
    airlines_path
    , names=list(airlines_dtypes.keys())
    , dtype=list(airlines_dtypes.values())
    , storage_options={'anon': True}
)
airlines.tail()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
6157,21248,GX Airlines,,,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),,,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,,JG,\N,,Australia,Y
6160,21270,Air Carnival,,2S,\N,,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

Register tables with `BlazingContext`

In [23]:
%%time
bc.create_table('airports', airports)
bc.create_table('airlines', airlines)

CPU times: user 4.47 ms, sys: 0 ns, total: 4.47 ms
Wall time: 2.93 ms

Add state to the `airports` table.

In [24]:
airports_geo = bc.sql('''
    SELECT 
        DISTINCT A.airport, A.State, 
        B.Name, B.City
    FROM (
        SELECT
            DISTINCT ORIGIN AS Airport, 
            ORIGIN_STATE_ABR AS State
        FROM 
            air_transport
        UNION ALL
            SELECT 
                DISTINCT DEST AS Airport, 
                DEST_STATE_ABR AS State
            FROM 
                air_transport AS A
        ) AS A
    LEFT OUTER JOIN 
        airports AS B
        ON A.Airport = B.IATA
    ''')

bc.create_table('airports_geo', airports_geo)

In [25]:
bc.sql('select * from airports_geo limit 2')

  airport State                                 Name       City
0     ABE    PA  Lehigh Valley International Airport  Allentown
1     ABI    TX             Abilene Regional Airport    Abilene

In [26]:
bc.sql('select count(*) from airports_geo')

   count(*)
0       371

In [27]:
%%time
bc.sql('''
    SELECT 
        A.FL_DATE, 
        A.OP_UNIQUE_CARRIER, 
        
        B.Name AS CARRIER_NAME, 
        
        A.ORIGIN, 
        
        C.Name AS ORIGIN_NAME, 
        C.City AS ORIGIN_CITY, 
        C.State AS ORIGIN_STATE,
        
        A.DEST, 
        
        D.Name AS DEST_NAME, 
        D.City AS DEST_CITY, 
        
        A.DEP_DELAY AS Delay
        
    FROM 
        air_transport AS A
    LEFT OUTER JOIN 
        airlines AS B
        ON A.OP_UNIQUE_CARRIER = B.IATA
    LEFT OUTER JOIN 
        airports_geo AS C
        ON A.ORIGIN = C.airport
    LEFT OUTER JOIN 
        airports_geo AS D
        ON A.DEST = D.airport
    LIMIT 4
''')

CPU times: user 9.1 s, sys: 142 ms, total: 9.24 s
Wall time: 5.89 s

,FL_DATE,OP_UNIQUE_CARRIER,CARRIER_NAME,ORIGIN,ORIGIN_NAME,ORIGIN_CITY,ORIGIN_STATE,DEST,DEST_NAME,DEST_CITY,Delay
0,2020-01-23,MQ,American Eagle Airlines,DFW,Dallas Fort Worth International Airport,Dallas-Fort Worth,TX,TUL,Tulsa International Airport,Tulsa,17.0
1,2020-01-24,MQ,American Eagle Airlines,DFW,Dallas Fort Worth International Airport,Dallas-Fort Worth,TX,TUL,Tulsa International Airport,Tulsa,-6.0
2,2020-01-25,MQ,American Eagle Airlines,DFW,Dallas Fort Worth International Airport,Dallas-Fort Worth,TX,TUL,Tulsa International Airport,Tulsa,-5.0
3,2020-01-26,MQ,American Eagle Airlines,DFW,Dallas Fort Worth International Airport,Dallas-Fort Worth,TX,TUL,Tulsa International Airport,Tulsa,-4.0

## Questions

### 1. How many unique airports are in the dataset?

In [28]:
bc.sql('SELECT COUNT(DISTINCT ORIGIN) FROM air_transport')

   count(ORIGIN)
0            371

In [29]:
# print(f'There are {len(flights["ORIGIN"].unique())} distinct airports in the dataset')

In [30]:
print(f'There are {bc.sql("SELECT COUNT(DISTINCT ORIGIN) FROM air_transport").iloc[0].values[0]} distinct airports in the dataset')

There are 371 distinct airports in the dataset

In [31]:
# # create flights table for copy/paste purposes
# bc.create_table('flights', bc.sql('select * from air_transport'))

In [33]:
delays_lt_mar20_share = bc.sql('''
    SELECT SUM(Delayed) / CAST(COUNT(*) AS FLOAT) AS Delayed_share
    FROM (
        SELECT CASE WHEN DEP_DELAY > 0 THEN 1 ELSE 0 END AS Delayed
        FROM air_transport 
        WHERE FL_DATE < DATE'2020-03-01'
    ) AS A
'''
)

delays_gt_mar20_share = bc.sql('''
    SELECT SUM(Delayed) / CAST(COUNT(*) AS FLOAT) AS Delayed_share
    FROM (
        SELECT CASE WHEN DEP_DELAY > 0 THEN 1 ELSE 0 END AS Delayed
        FROM air_transport 
        WHERE FL_DATE >= DATE'2020-03-01'
    ) AS A
'''
)

print(f'Before pandemic share of delayed flights: ' 
      f'{delays_lt_mar20_share["Delayed_share"][0]:.2%}')
print(f'After pandemic share of delayed flights: '
      f'{delays_gt_mar20_share["Delayed_share"][0]:.2%}')

Before pandemic share of delayed flights: 27.55%
After pandemic share of delayed flights: 12.06%

# optional assignment
Continue troubleshooting...

### 2. How many flights were delayed and departed early? What is the distribution?

In [ ]:
print(f'{len(flights[flights["DEP_DELAY"] > 0]):,} flights were delayed and {len(flights[flights["DEP_DELAY"] <= 0]):,} left on time or early')

In [ ]:
### calculate the distribution
n_bins = 100

delays = flights[flights['DEP_DELAY'] >  0]['DEP_DELAY']
ontime = flights[flights['DEP_DELAY'] <= 0]['DEP_DELAY']

In [ ]:
%%time
del_bins = np.array([i * 15 for i in range(0, n_bins)], dtype='float64')
delays_binned = delays.digitize(del_bins)
delays_histogram = delays_binned.groupby().count() / len(delays)
(
    delays_histogram
    .set_index(del_bins[delays_histogram.index.to_array()-1])
    .to_pandas()
    .plot(kind='bar', figsize=(20,9), ylim=[0,1.0], title='Delayed departure distribution')
)

In [ ]:
%%time
ontime_bins = np.array([i * (-1) for i in range(n_bins,0,-1)], dtype='float64')
ontime_binned = ontime.digitize(ontime_bins)
ontime_histogram = ontime_binned.groupby().count() / len(ontime)
(
    ontime_histogram
    .set_index(ontime_bins[ontime_histogram.index.to_array()-1])
    .to_pandas()
    .plot(kind='bar', figsize=(20,9), ylim=[0,1.0], title='Early departure distribution')
)

### 3. Delays distribution over time

In [ ]:
q10 = lambda x: x.quantile(0.10); q10.__name__ = "q0.10"
q25 = lambda x: x.quantile(0.25); q25.__name__ = "q0.25"
q75 = lambda x: x.quantile(0.75); q75.__name__ = "q0.75"
q90 = lambda x: x.quantile(0.90); q90.__name__ = "q0.90"

delay_aggs = (
    flights[['MONTH', 'DEP_DELAY']]
    .groupby(by='MONTH')
    .agg({'DEP_DELAY': [q10, q25,'median',q75, q90]})
)

delay_aggs.columns = ['_'.join(col) for col in delay_aggs.columns]

In [ ]:
host=delay_aggs.to_pandas()
host

In [ ]:
x = ['JAN', 'FEB', 'MAR', 'APR', 'MAY']
fig, ax = plt.subplots(figsize=(12,9))
ax.plot(x, host['DEP_DELAY_median'], 'r--', label='median')
ax.fill_between(x, host['DEP_DELAY_q0.10'], host['DEP_DELAY_q0.90']
                , alpha=.2, label='Quart10 - Quart90')
ax.fill_between(x, host['DEP_DELAY_q0.25'], host['DEP_DELAY_q0.75']
                , alpha=.2, label='Quart25 - Quart75')
ax.legend()

### 4. What are the top 5 airlines and airports with most delays and at least 1000 flights? What is average delay?

In [ ]:
delays = flights[flights['DEP_DELAY'] >  0][['DEP_DELAY', 'ORIGIN', 'DEST', 'OP_UNIQUE_CARRIER']]
ontime = flights[flights['DEP_DELAY'] <= 0][['DEP_DELAY', 'ORIGIN', 'DEST', 'OP_UNIQUE_CARRIER']]

In [ ]:
bc.create_table('delays', delays)
bc.create_table('ontime', ontime)

In [ ]:
def plot_airports(df, cmap, agg_cols, indicator):
    host = df.to_pandas()
    
    ### figure
    fig = plt.figure(figsize=(12,9))
    
    ### plot on map
    ax = fig.add_subplot(1, 1, 1, projection=ccrs.PlateCarree())
    ax.set_extent([-125, -70, 22, 55], crs=ccrs.PlateCarree()) ## US Continental
    ax.stock_img()
    
    ### add features
    ax.add_feature(cfeature.LAKES)
    ax.add_feature(cfeature.STATES)
    ax.add_feature(cfeature.COASTLINE)
    
    ### add data
    bubbles = ax.scatter(
        host['Longitude']
        , host['Latitude']
        , s=host[agg_cols['CNT']] / 50, label="Flight Count"
        , c=host[agg_cols['AVG']]
        , cmap=plt.get_cmap(cmap)
        , alpha=0.8
    )

    ### add colorbar
    delays = host[agg_cols['AVG']]
    tick_values = np.linspace(delays.min(), delays.max(), 11)
    cbar = fig.colorbar(bubbles, shrink=0.7)
    cbar.ax.set_yticklabels([f'{round(v)} mins' for v in tick_values], fontsize=14)
    cbar.set_label(f'Average {indicator}', fontsize=16)
    plt.legend(fontsize=16)

### Most delayed
#### Origin

In [ ]:
%%time
delayed_origin = bc.sql('''
    SELECT A.ORIGIN
        , B.Name AS ORIGIN_Airport
        , B.City AS ORIGIN_City
        , B.Country AS ORIGIN_Country
        , B.Latitude
        , B.Longitude
        , COUNT(*) AS DELAY_CNT
        , AVG(DEP_DELAY) AS AVG_DELAY
    FROM delays AS A
    LEFT OUTER JOIN airports AS B
        ON A.ORIGIN = B.IATA
    GROUP BY A.ORIGIN
        , B.Name
        , B.City
        , B.Country
        , B.Latitude
        , B.Longitude
    HAVING COUNT(*) > 1000
        AND B.Country = 'United States'
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 60
''')
delayed_origin.head()

In [ ]:
### plot
plot_airports(
    delayed_origin
    , 'YlOrRd'
    , {'CNT': 'DELAY_CNT', 'AVG': 'AVG_DELAY'}
    , 'delays'
)

#### Destination

In [ ]:
%%time
delayed_destination = bc.sql('''
    SELECT A.DEST
        , B.Name AS DEST_Airport
        , B.City AS DEST_City
        , B.Country AS DEST_Country
        , B.Latitude
        , B.Longitude
        , COUNT(*) AS DELAY_CNT
        , AVG(DEP_DELAY) AS AVG_DELAY
    FROM delays AS A
    LEFT OUTER JOIN airports AS B
        ON A.DEST = B.IATA
    GROUP BY A.DEST
        , B.Name
        , B.City
        , B.Country
        , B.Latitude
        , B.Longitude
    HAVING COUNT(*) > 1000
        AND B.Country = 'United States'
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 60
''')
delayed_destination.head()

In [ ]:
### plot
plot_airports(
    delayed_destination
    , 'YlOrRd'
    , {'CNT': 'DELAY_CNT', 'AVG': 'AVG_DELAY'}
    , 'delays'
)

#### Airlines

In [ ]:
%%time
bc.sql('''
    SELECT A.OP_UNIQUE_CARRIER AS CARRIER
        , B.Name AS CARRIER_Name
        , B.Country AS CARRIER_Country
        , COUNT(*) AS DELAY_CNT
        , AVG(DEP_DELAY) AS AVG_DELAY
    FROM delays AS A
    LEFT OUTER JOIN airlines AS B
        ON A.OP_UNIQUE_CARRIER = B.IATA
    GROUP BY A.OP_UNIQUE_CARRIER
        , B.Name
        , B.Country
    HAVING COUNT(*) > 1000
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 5
''')

### Most punctual

#### Origin

In [ ]:
%%time
ontime_origin = bc.sql('''
    SELECT A.ORIGIN
        , B.Name AS ORIGIN_Airport
        , B.City AS ORIGIN_City
        , B.Country AS ORIGIN_Country
        , B.Latitude
        , B.Longitude
        , COUNT(*) AS ONTIME_CNT
        , AVG(DEP_DELAY) AS AVG_ONTIME
    FROM ontime AS A
    LEFT OUTER JOIN airports AS B
        ON A.ORIGIN = B.IATA
    GROUP BY A.ORIGIN
        , B.Name
        , B.City
        , B.Country
        , B.Latitude
        , B.Longitude
    HAVING COUNT(*) > 1000
        AND B.Country = 'United States'
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 60
''')
ontime_origin.head()

In [ ]:
### plot
plot_airports(
    ontime_origin
    , 'Greens'
    , {'CNT': 'ONTIME_CNT', 'AVG': 'AVG_ONTIME'}
    , 'ontime'
)

#### Destination

In [ ]:
%%time
ontime_destination = bc.sql('''
    SELECT A.DEST
        , B.Name AS DEST_Airport
        , B.City AS DEST_City
        , B.Country AS DEST_Country
        , B.Latitude
        , B.Longitude
        , COUNT(*) AS ONTIME_CNT
        , AVG(DEP_DELAY) AS AVG_ONTIME
    FROM ontime AS A
    LEFT OUTER JOIN airports AS B
        ON A.DEST = B.IATA
    GROUP BY A.DEST
        , B.Name
        , B.City
        , B.Country
        , B.Latitude
        , B.Longitude
    HAVING COUNT(*) > 1000
        AND B.Country = 'United States'
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 30
''')
ontime_destination.head(5)

In [ ]:
### plot
plot_airports(
    ontime_destination
    , 'Greens'
    , {'CNT': 'ONTIME_CNT', 'AVG': 'AVG_ONTIME'}
    , 'ontime'
)

#### Airline

In [ ]:
%%time
bc.sql('''
    SELECT A.OP_UNIQUE_CARRIER AS CARRIER
        , B.Name AS CARRIER_Name
        , B.Country AS CARRIER_Country
        , AVG(DEP_DELAY) AS AVG_ONTIME
    FROM ontime AS A
    LEFT OUTER JOIN airlines AS B
        ON A.OP_UNIQUE_CARRIER = B.IATA
    GROUP BY A.OP_UNIQUE_CARRIER
        , B.Name
        , B.Country
    HAVING COUNT(*) > 1000
    ORDER BY AVG(DEP_DELAY) DESC
    LIMIT 5
''')

### 5. What flights departing SEA experienced significant delays?

In [ ]:
%%time
destinations = bc.sql('''
    SELECT ORIGIN
        , ORIGIN_LAT
        , ORIGIN_LON
        , DEST
        , DEST_LAT
        , DEST_LON
        , COUNT(*) AS DELAY_CNT
        , AVG(Delay) AS AVG_DELAY
    FROM (
        SELECT A.ORIGIN
            , B.Latitude AS ORIGIN_LAT
            , B.Longitude AS ORIGIN_LON
            , A.DEST
            , C.Latitude AS DEST_LAT
            , C.Longitude AS DEST_LON
            , A.DEP_DELAY AS Delay
        FROM flights AS A
        LEFT OUTER JOIN airports AS B
            ON A.ORIGIN = B.IATA
        LEFT OUTER JOIN airports AS C
            ON A.DEST = C.IATA
        WHERE ORIGIN = 'SEA'
            AND C.Country = 'United States'
            AND DEP_DELAY > 60  -- DELAYED BY MORE THAN HOUR
    ) AS A
    GROUP BY ORIGIN
        , ORIGIN_LAT
        , ORIGIN_LON
        , DEST
        , DEST_LAT
        , DEST_LON
    HAVING COUNT(*) > 50
    ORDER BY AVG_DELAY DESC
    LIMIT 30
''')
destinations.head(5)

Plot the results on the map

In [ ]:
def add_lines(ax, host):
    lines = host[['ORIGIN_LON', 'ORIGIN_LAT', 'DEST_LON', 'DEST_LAT']].to_dict('list')
    
    sea = (lines['ORIGIN_LON'][0], lines['ORIGIN_LAT'][0])
    for dest in zip(lines['DEST_LON'], lines['DEST_LAT']):
        ax.arrow(*dest
                 , sea[0]-dest[0], sea[1]-dest[1]
                 , head_width=0.0, head_length=0.0
                 , fc='k', ec='k')

host = destinations.to_pandas()
    
### figure
fig = plt.figure(figsize=(12,9))

### plot on map
ax = fig.add_subplot(1, 1, 1, projection=ccrs.PlateCarree())
ax.set_extent([-125, -70, 22, 55], crs=ccrs.PlateCarree()) ## US Continental
ax.stock_img()

### add features
ax.add_feature(cfeature.LAKES)
ax.add_feature(cfeature.STATES)
ax.add_feature(cfeature.COASTLINE)

### add data
bubbles = ax.scatter(
    host['DEST_LON']
    , host['DEST_LAT']
    , s=host['DELAY_CNT'] * 2, label="Flight Count"
    , c=host['AVG_DELAY']
    , cmap=plt.get_cmap('jet')
    , alpha=0.8
)

add_lines(ax, host)

### add colorbar
delays = host['AVG_DELAY']
tick_values = np.linspace(delays.min(), delays.max(), 11)
cbar = fig.colorbar(bubbles, shrink=0.7)
cbar.ax.set_yticklabels([f'{round(v)} mins' for v in tick_values], fontsize=14)
cbar.set_label(f'Average delays', fontsize=16)
plt.legend(fontsize=16)

### 6. Are there any specifc aircrafts (tail number) that are less reliable?

In [ ]:
tail_numbers = bc.sql('''
    SELECT TAIL_NUM
        , B.Name AS AirlineName
        , DEP_DELAY
    FROM flights AS A
    LEFT OUTER JOIN airlines AS B
        ON A.OP_UNIQUE_CARRIER = B.IATA
    WHERE TAIL_NUM <> ''
        AND DEP_DELAY > 0
''')

In [ ]:
aircraft_aggs = (
    tail_numbers
    .groupby(by=['TAIL_NUM', 'AirlineName'])
    .agg({'DEP_DELAY': ['count', q25,'median',q75, 'max']})
)

aircraft_aggs.columns = ['_'.join(col) for col in aircraft_aggs.columns]
aircraft_aggs = (
    aircraft_aggs
    .query('DEP_DELAY_count > 100')
    .sort_values(by='DEP_DELAY_median', ascending=False)
)

In [ ]:
aircraft_aggs.head(10)